<section>
  <div class="row">
    <div class="col-md-10">
      <h1>
        Score: <%= @score.score %>
      </h1>

      <h2 class="text-muted">
        Made by <i><%= @score.player.name %></i> in <%= @score.created_at.to_formatted_s(:long_ordinal) %>
      </h2>

      <%= link_to 'Back', scores_path %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <h2>Comments</h2>
      <%= render @score.comments %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= render 'comments/form' %>
    </div>
  </div>
</section>